openapi: 3.0.1
info:
  title: ZpoolsAPI-prod
  version: 2025-10-05 15:50:54UTC
servers:
- url: https://api.zpools.io/v1
tags:
- name: Authentication
  description: Authentication and credential verification
- name: Billing
  description: Account balance, payments, and billing history
- name: SSH Keys
  description: Manage SSH public keys for zpool access
- name: Personal Access Tokens
  description: Manage API access tokens
- name: Zpools
  description: Create and manage ZFS storage pools
- name: Jobs
  description: Track background operations and jobs
paths:
  /hello:
    get:
      responses:
        default:
          description: Default response for GET /hello
        '200':
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                type: object
          description: Success
      security:
      - CognitoAuthorizer: []
      - ComboAuthorizer: []
      x-amazon-apigateway-integration:
        payloadFormatVersion: '2.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:REDACTED:function:Hello-prod/invocations
        connectionType: INTERNET
      summary: Test authentication
      description: Simple authenticated endpoint to verify API connectivity and test
        your JWT tokens or PAT.
      tags:
      - Authentication
  /login:
    post:
      responses:
        default:
          description: Default response for POST /login
        '200':
          content:
            application/json:
              schema:
                properties:
                  detail:
                    properties:
                      access_token:
                        description: JWT access token
                        type: string
                      expires_in:
                        description: Token expiration in seconds
                        type: integer
                      id_token:
                        description: JWT ID token
                        type: string
                      refresh_token:
                        description: JWT refresh token
                        type: string
                    type: object
                  message:
                    type: string
                type: object
          description: Authentication successful
        '401':
          description: Invalid credentials
      x-amazon-apigateway-integration:
        payloadFormatVersion: '2.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:REDACTED:function:LoginHandler-prod/invocations
        connectionType: INTERNET
      summary: Authenticate user and obtain JWT tokens
      description: Authenticate with username/password and receive Cognito JWT tokens
        for accessing protected endpoints.
      tags:
      - Authentication
      requestBody:
        content:
          application/json:
            example:
              password: SecurePassword123
              username: user@example.com
            schema:
              properties:
                username:
                  description: User's username
                  type: string
                password:
                  description: User's password
                  type: string
              required:
              - username
              - password
              type: object
        required: true
  /billing/balance:
    get:
      responses:
        default:
          description: Default response for GET /billing/balance
        '200':
          content:
            application/json:
              schema:
                properties:
                  detail:
                    properties:
                      balance:
                        properties:
                          balance_cents:
                            description: Balance in cents
                            type: integer
                          currency:
                            description: Currency code (USD)
                            type: string
                          last_updated:
                            format: date-time
                            type: string
                          username:
                            type: string
                        type: object
                    type: object
                  message:
                    type: string
                type: object
          description: Balance retrieved
      security:
      - CognitoAuthorizer: []
      x-amazon-apigateway-integration:
        payloadFormatVersion: '2.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:REDACTED:function:BillingHandler-prod/invocations
        connectionType: INTERNET
      summary: Get account balance
      description: Retrieve the current account balance and credit information.
      tags:
      - Billing
  /billing/ledger:
    get:
      responses:
        default:
          description: Default response for GET /billing/ledger
        '200':
          content:
            application/json:
              schema:
                properties:
                  detail:
                    properties:
                      entries:
                        items:
                          properties:
                            amount_cents:
                              description: Amount in cents (negative for charges)
                              type: integer
                            balance_cents:
                              description: Running balance after transaction
                              type: integer
                            description:
                              type: string
                            timestamp:
                              format: date-time
                              type: string
                          type: object
                        type: array
                    type: object
                  message:
                    type: string
                type: object
          description: Ledger entries retrieved
        '400':
          description: Invalid date format or limit
      security:
      - CognitoAuthorizer: []
      x-amazon-apigateway-integration:
        payloadFormatVersion: '2.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:REDACTED:function:BillingHandler-prod/invocations
        connectionType: INTERNET
      summary: Get billing ledger
      description: Retrieve billing transaction history with optional date filters.
      tags:
      - Billing
      parameters:
      - description: Start date (YYYY-MM-DD format)
        in: query
        name: since
        required: false
        schema:
          format: date
          type: string
      - description: End date (YYYY-MM-DD format)
        in: query
        name: until
        required: false
        schema:
          format: date
          type: string
      - description: 'Maximum number of entries (default: 500, max: 5000)'
        in: query
        name: limit
        required: false
        schema:
          maximum: 5000
          minimum: 1
          type: integer
  /codes/claim:
    post:
      responses:
        default:
          description: Default response for POST /codes/claim
        '200':
          content:
            application/json:
              schema:
                properties:
                  detail:
                    properties:
                      amount_cents:
                        description: Credits added
                        type: integer
                    type: object
                  message:
                    type: string
                type: object
          description: Code redeemed successfully
        '400':
          description: Invalid or already used code
      security:
      - CognitoAuthorizer: []
      x-amazon-apigateway-integration:
        payloadFormatVersion: '2.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:REDACTED:function:ClaimHandler-prod/invocations
        connectionType: INTERNET
      summary: Redeem credit code
      description: Apply a promotional or gift credit code to account.
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            example:
              code: PROMO2024
            schema:
              properties:
                code:
                  description: Credit code to redeem
                  type: string
              required:
              - code
              type: object
        required: true
  /dodo/start:
    post:
      responses:
        default:
          description: Default response for POST /dodo/start
        '200':
          content:
            application/json:
              schema:
                properties:
                  detail:
                    properties:
                      payment_url:
                        description: URL to complete payment
                        type: string
                      session_id:
                        type: string
                    type: object
                  message:
                    type: string
                type: object
          description: Payment session created
      security:
      - CognitoAuthorizer: []
      x-amazon-apigateway-integration:
        payloadFormatVersion: '2.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:REDACTED:function:DodoPayHandler-prod/invocations
        connectionType: INTERNET
      summary: Initiate payment session
      description: Start a DodoPay payment session to add credits to account.
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            example:
              amount_cents: 5000
            schema:
              properties:
                amount_cents:
                  description: Payment amount in cents
                  minimum: 100
                  type: integer
              required:
              - amount_cents
              type: object
        required: true
  /sshkey:
    get:
      responses:
        default:
          description: Default response for GET /sshkey
        '200':
          content:
            application/json:
              schema:
                properties:
                  detail:
                    properties:
                      keys:
                        items:
                          properties:
                            created_at:
                              format: date-time
                              type: string
                            pubkey:
                              description: SSH public key
                              type: string
                            pubkey_id:
                              description: Unique key identifier
                              type: string
                          type: object
                        type: array
                    type: object
                  message:
                    type: string
                type: object
          description: SSH keys retrieved
      security:
      - CognitoAuthorizer: []
      - ComboAuthorizer: []
      x-amazon-apigateway-integration:
        payloadFormatVersion: '2.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:REDACTED:function:SSHKeyHandler-prod/invocations
        connectionType: INTERNET
      summary: List user's SSH keys
      description: Retrieve all SSH public keys registered for the authenticated user.
      tags:
      - SSH Keys
    post:
      responses:
        default:
          description: Default response for POST /sshkey
        '200':
          content:
            application/json:
              schema:
                properties:
                  detail:
                    properties:
                      pubkey_id:
                        description: Generated key ID
                        type: string
                    type: object
                  message:
                    type: string
                type: object
          description: SSH key registered successfully
        '400':
          description: Invalid SSH key format
      security:
      - CognitoAuthorizer: []
      x-amazon-apigateway-integration:
        payloadFormatVersion: '2.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:REDACTED:function:SSHKeyHandler-prod/invocations
        connectionType: INTERNET
      summary: Register SSH public key
      description: Add a new SSH public key for the authenticated user to enable SSH
        access to zpools.
      tags:
      - SSH Keys
      requestBody:
        content:
          application/json:
            example:
              pubkey: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILxyz... user@host
            schema:
              properties:
                pubkey:
                  description: SSH public key (RSA, ED25519, etc.)
                  type: string
              required:
              - pubkey
              type: object
        required: true
  /sshkey/{pubkey_id}:
    delete:
      responses:
        default:
          description: Default response for DELETE /sshkey/{pubkey_id}
        '200':
          description: SSH key deleted successfully
        '404':
          description: SSH key not found
      security:
      - CognitoAuthorizer: []
      x-amazon-apigateway-integration:
        payloadFormatVersion: '2.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:REDACTED:function:SSHKeyHandler-prod/invocations
        connectionType: INTERNET
      summary: Delete SSH key
      description: Remove an SSH public key from the user's account.
      tags:
      - SSH Keys
      parameters:
      - description: ID of the SSH key to delete
        in: path
        name: pubkey_id
        required: true
        schema:
          type: string
    parameters:
    - name: pubkey_id
      in: path
      description: Generated path parameter for pubkey_id
      required: true
      schema:
        type: string
  /pat:
    get:
      responses:
        default:
          description: Default response for GET /pat
        '200':
          content:
            application/json:
              schema:
                properties:
                  detail:
                    properties:
                      tokens:
                        items:
                          properties:
                            created_at:
                              format: date-time
                              type: string
                            key_id:
                              type: string
                            last_used:
                              format: date-time
                              type: string
                            name:
                              description: Token name/description
                              type: string
                          type: object
                        type: array
                    type: object
                  message:
                    type: string
                type: object
          description: PATs retrieved
      security:
      - CognitoAuthorizer: []
      x-amazon-apigateway-integration:
        payloadFormatVersion: '2.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:REDACTED:function:PATMgmt-prod/invocations
        connectionType: INTERNET
      summary: List personal access tokens
      description: Retrieve all active PATs for the authenticated user.
      tags:
      - Personal Access Tokens
    post:
      responses:
        default:
          description: Default response for POST /pat
        '200':
          content:
            application/json:
              schema:
                properties:
                  detail:
                    properties:
                      key_id:
                        type: string
                      token:
                        description: PAT value (only shown once)
                        type: string
                    type: object
                  message:
                    type: string
                type: object
          description: PAT created successfully
      security:
      - CognitoAuthorizer: []
      x-amazon-apigateway-integration:
        payloadFormatVersion: '2.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:REDACTED:function:PATMgmt-prod/invocations
        connectionType: INTERNET
      summary: Create personal access token
      description: Generate a new PAT for API authentication.
      tags:
      - Personal Access Tokens
      requestBody:
        content:
          application/json:
            example:
              name: CLI Access Token
            schema:
              properties:
                name:
                  description: Token name for identification
                  type: string
              required:
              - name
              type: object
        required: true
  /pat/{key_id}:
    delete:
      responses:
        default:
          description: Default response for DELETE /pat/{key_id}
        '200':
          description: PAT revoked successfully
        '404':
          description: PAT not found
      security:
      - CognitoAuthorizer: []
      x-amazon-apigateway-integration:
        payloadFormatVersion: '2.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:REDACTED:function:PATMgmt-prod/invocations
        connectionType: INTERNET
      summary: Revoke personal access token
      description: Permanently revoke a PAT.
      tags:
      - Personal Access Tokens
      parameters:
      - description: ID of the PAT to revoke
        in: path
        name: key_id
        required: true
        schema:
          type: string
    parameters:
    - name: key_id
      in: path
      description: Generated path parameter for key_id
      required: true
      schema:
        type: string
  /zpools:
    get:
      responses:
        default:
          description: Default response for GET /zpools
        '200':
          content:
            application/json:
              schema:
                properties:
                  detail:
                    properties:
                      zpools:
                        items:
                          properties:
                            created_at:
                              format: date-time
                              type: string
                            name:
                              type: string
                            size_gb:
                              type: integer
                            status:
                              type: string
                            zpool_id:
                              type: string
                          type: object
                        type: array
                    type: object
                  message:
                    type: string
                type: object
          description: Zpools retrieved
      security:
      - CognitoAuthorizer: []
      - ComboAuthorizer: []
      x-amazon-apigateway-integration:
        payloadFormatVersion: '2.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:REDACTED:function:ZpoolHandler-prod/invocations
        connectionType: INTERNET
      summary: List user's zpools
      description: Retrieve all ZFS pools owned by the authenticated user.
      tags:
      - Zpools
  /zpool:
    post:
      responses:
        default:
          description: Default response for POST /zpool
        '200':
          content:
            application/json:
              schema:
                properties:
                  detail:
                    properties:
                      job_id:
                        description: Job ID for tracking creation progress
                        type: string
                      zpool_id:
                        type: string
                    type: object
                  message:
                    type: string
                type: object
          description: Zpool creation initiated
        '400':
          description: Invalid zpool configuration
      security:
      - CognitoAuthorizer: []
      x-amazon-apigateway-integration:
        payloadFormatVersion: '2.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:REDACTED:function:ZpoolHandler-prod/invocations
        connectionType: INTERNET
      summary: Create a new zpool
      description: Create a new ZFS storage pool with specified configuration.
      tags:
      - Zpools
      requestBody:
        content:
          application/json:
            example:
              new_size_in_gib: 125
              volume_type: gp3
            schema:
              properties:
                new_size_in_gib:
                  description: Pool size in GiB (must be exactly 125 during beta)
                  enum:
                  - 125
                  type: integer
                volume_type:
                  description: 'EBS volume type. Accepted values: gp3, sc1'
                  enum:
                  - gp3
                  - sc1
                  type: string
              required:
              - new_size_in_gib
              - volume_type
              type: object
        required: true
  /zpool/{zpool_id}/modify:
    post:
      responses:
        default:
          description: Default response for POST /zpool/{zpool_id}/modify
        '200':
          description: Modification initiated
        '400':
          description: Invalid modification request
      security:
      - CognitoAuthorizer: []
      - ComboAuthorizer: []
      x-amazon-apigateway-integration:
        payloadFormatVersion: '2.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:REDACTED:function:ZpoolHandler-prod/invocations
        connectionType: INTERNET
      summary: Modify zpool configuration
      description: Modify zpool settings such as size, adding disks, or changing volume
        types.
      tags:
      - Zpools
      parameters:
      - description: ID of the zpool to modify
        in: path
        name: zpool_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              size_gb: 125
              volume_type: gp3
            schema:
              properties:
                size_gb:
                  description: New total size in GB
                  type: integer
                volume_type:
                  description: 'EBS volume type. Accepted values: gp3, io1, io2'
                  enum:
                  - gp3
                  - io1
                  - io2
                  type: string
              type: object
        required: true
    parameters:
    - name: zpool_id
      in: path
      description: Generated path parameter for zpool_id
      required: true
      schema:
        type: string
  /zpool/{zpool_id}/scrub:
    post:
      responses:
        default:
          description: Default response for POST /zpool/{zpool_id}/scrub
        '200':
          content:
            application/json:
              schema:
                properties:
                  detail:
                    properties:
                      job_id:
                        type: string
                    type: object
                  message:
                    type: string
                type: object
          description: Scrub initiated
      security:
      - CognitoAuthorizer: []
      - ComboAuthorizer: []
      x-amazon-apigateway-integration:
        payloadFormatVersion: '2.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:REDACTED:function:ZpoolHandler-prod/invocations
        connectionType: INTERNET
      summary: Start zpool scrub
      description: Initiate a data integrity scrub on the specified zpool.
      tags:
      - Zpools
      parameters:
      - description: ID of the zpool to scrub
        in: path
        name: zpool_id
        required: true
        schema:
          type: string
    parameters:
    - name: zpool_id
      in: path
      description: Generated path parameter for zpool_id
      required: true
      schema:
        type: string
  /zpool/{zpool_id}:
    delete:
      responses:
        default:
          description: Default response for DELETE /zpool/{zpool_id}
        '200':
          description: Zpool deletion initiated
        '404':
          description: Zpool not found
      security:
      - CognitoAuthorizer: []
      x-amazon-apigateway-integration:
        payloadFormatVersion: '2.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:REDACTED:function:ZpoolHandler-prod/invocations
        connectionType: INTERNET
      summary: Delete a zpool
      description: Permanently delete a ZFS pool and all its data.
      tags:
      - Zpools
      parameters:
      - description: ID of the zpool to delete
        in: path
        name: zpool_id
        required: true
        schema:
          type: string
    parameters:
    - name: zpool_id
      in: path
      description: Generated path parameter for zpool_id
      required: true
      schema:
        type: string
  /jobs:
    get:
      responses:
        default:
          description: Default response for GET /jobs
        '200':
          content:
            application/json:
              schema:
                properties:
                  detail:
                    properties:
                      jobs:
                        items:
                          properties:
                            created_at:
                              format: date-time
                              type: string
                            job_id:
                              type: string
                            operation:
                              description: Operation type (create, delete, scrub,
                                modify)
                              type: string
                            status:
                              description: 'Job status. Accepted values: pending,
                                running, completed, failed'
                              enum:
                              - pending
                              - running
                              - completed
                              - failed
                              type: string
                            updated_at:
                              format: date-time
                              type: string
                            zpool_id:
                              type: string
                          type: object
                        type: array
                    type: object
                  message:
                    type: string
                type: object
          description: Jobs retrieved
      security:
      - CognitoAuthorizer: []
      - ComboAuthorizer: []
      x-amazon-apigateway-integration:
        payloadFormatVersion: '2.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:REDACTED:function:JobHandler-prod/invocations
        connectionType: INTERNET
      summary: List user's jobs
      description: Retrieve all background jobs (zpool operations) for the authenticated
        user.
      tags:
      - Jobs
  /job/{job_id}:
    get:
      responses:
        default:
          description: Default response for GET /job/{job_id}
        '200':
          content:
            application/json:
              schema:
                properties:
                  detail:
                    properties:
                      error:
                        description: Error message if failed
                        type: string
                      job_id:
                        type: string
                      progress:
                        description: Progress percentage
                        type: integer
                      status:
                        type: string
                    type: object
                  message:
                    type: string
                type: object
          description: Job details retrieved
        '404':
          description: Job not found
      security:
      - CognitoAuthorizer: []
      - ComboAuthorizer: []
      x-amazon-apigateway-integration:
        payloadFormatVersion: '2.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:REDACTED:function:JobHandler-prod/invocations
        connectionType: INTERNET
      summary: Get job details
      description: Retrieve detailed information about a specific job.
      tags:
      - Jobs
      parameters:
      - description: Job ID
        in: path
        name: job_id
        required: true
        schema:
          type: string
    parameters:
    - name: job_id
      in: path
      description: Generated path parameter for job_id
      required: true
      schema:
        type: string
  /job/{job_id}/history:
    get:
      responses:
        default:
          description: Default response for GET /job/{job_id}/history
        '200':
          content:
            application/json:
              schema:
                properties:
                  detail:
                    properties:
                      events:
                        items:
                          properties:
                            message:
                              type: string
                            status:
                              type: string
                            timestamp:
                              format: date-time
                              type: string
                          type: object
                        type: array
                    type: object
                  message:
                    type: string
                type: object
          description: Job history retrieved
      security:
      - CognitoAuthorizer: []
      - ComboAuthorizer: []
      x-amazon-apigateway-integration:
        payloadFormatVersion: '2.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:REDACTED:function:JobHandler-prod/invocations
        connectionType: INTERNET
      summary: Get job history
      description: Retrieve the status change history for a specific job.
      tags:
      - Jobs
      parameters:
      - description: Job ID
        in: path
        name: job_id
        required: true
        schema:
          type: string
    parameters:
    - name: job_id
      in: path
      description: Generated path parameter for job_id
      required: true
      schema:
        type: string
components:
  securitySchemes:
    CognitoAuthorizer:
      type: http
      x-amazon-apigateway-authorizer:
        identitySource: $request.header.Authorization
        jwtConfiguration:
          audience:
          - 7udv6q49h7hk133qptfhc20rgv
          issuer: https://cognito-idp.us-west-2.amazonaws.com/us-west-2_Jg6U6Nrf8
        type: jwt
      scheme: bearer
      bearerFormat: JWT
      description: Enter your JWT token from the /login endpoint
    ComboAuthorizer:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authorizer:
        identitySource: $request.header.Authorization
        authorizerUri: arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:REDACTED:function:PATAuthorizer-prod/invocations
        authorizerPayloadFormatVersion: '2.0'
        authorizerResultTtlInSeconds: 5
        type: request
        enableSimpleResponses: true
      description: Enter JWT token or Personal Access Token (PAT)
x-amazon-apigateway-cors:
  allowMethods:
  - DELETE
  - GET
  - OPTIONS
  - POST
  - PUT
  allowHeaders:
  - authorization
  - content-type
  maxAge: 86400
  allowCredentials: false
  allowOrigins:
  - '*'
x-amazon-apigateway-importexport-version: '1.0'
